name: vscode-textwire

services:
    app:
        image: vscode-textwire
        container_name: vscode-textwire
        build:
            context: .
            dockerfile: Containerfile
        volumes:
            - .:/app:z
